<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css"/>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>

</head>

<body>

<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">



            <div class="panel-heading">
                <div class="row">
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="question"> Ask nick what is in your mind:</label>
                            <input type="text" class="form-control" id="question">
                        </div>
                        <button type="button" id="btn_ask_nick" class="btn btn-default btn-sm">SEND</button>
                    </div>
                </div>
            </div>

            <div class="panel-body">


                <div id="sentence">
                    <h1>Welcome to the first artificial language produced by Fran</h1>
                    <h2>Please use the menu above to talk with Nick</h2>
                </div>

            </div>
        </div>
    </div>

</div>
</body>
</html>


<script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function ($) {

        var msg1 = new SpeechSynthesisUtterance('Welcome to the first artificial language produced by Fran');
        window.speechSynthesis.speak(msg1);

        var msg2 = new SpeechSynthesisUtterance('Please use the menu above to talk with Nick');
        window.speechSynthesis.speak(msg2);

        $("#btn_ask_nick").click(function(){
            $.ajax({
                url: '/askNick?question='+$("#question").val(),
                success: function(result){
                    console.log(result);
                    document.getElementById("sentence").innerHTML = result;

                    var msg3 = new SpeechSynthesisUtterance(result);
                    window.speechSynthesis.speak(msg3);
                }
            });
        });


    });
</script>
